
:root {
	--bb_pink-lightest:   hsl(303, 53%, 88%);
	--bb_pink-light:      hsl(303, 53%, 60%);
	--bb_pink:            hsl(303, 53%, 50%);
	--bb_pink-dark:       hsl(303, 53%, 40%);
	--bb_pink-darkest:    hsl(302, 53%, 20%);
	--bb_purple-lightest: hsl(263, 53%, 88%);
	--bb_purple-light:    hsl(264, 53%, 60%);
	--bb_purple:          hsl(264, 53%, 50%);
	--bb_purple-dark:     hsl(264, 53%, 40%);
	--bb_purple-darkest:  hsl(263, 53%, 20%);
	--bb_blue-lightest:   hsl(207, 53%, 88%);
	--bb_blue-light:      hsl(207, 53%, 60%);
	--bb_blue:            hsl(207, 53%, 50%);
	--bb_blue-dark:       hsl(207, 53%, 40%);
	--bb_blue-darkest:    hsl(207, 53%, 20%);
	--bb_green-lightest:  hsl(136, 53%, 88%);
	--bb_green-light:     hsl(136, 53%, 60%);
	--bb_green:           hsl(136, 53%, 50%);
	--bb_green-dark:      hsl(136, 53%, 40%);
	--bb_green-darkest:   hsl(136, 53%, 20%);
	--bb_yellow-lightest: hsl(62, 76%, 88%);
	--bb_yellow-light:    hsl(61, 75%, 60%);
	--bb_yellow:          hsl(61, 76%, 50%);
	--bb_yellow-dark:     hsl(61, 75%, 40%);
	--bb_yellow-darkest:  hsl(62, 76%, 20%);
	--bb_orange-lightest: hsl(30, 76%, 88%);
	--bb_orange-light:    hsl(30, 75%, 60%);
	--bb_orange:          hsl(30, 76%, 50%);
	--bb_orange-dark:     hsl(30, 75%, 40%);
	--bb_orange-darkest:  hsl(30, 76%, 20%);
	--bb_red-lightest:    hsl(0, 76%, 88%);
	--bb_red-light:       hsl(0, 75%, 60%);
	--bb_red:             hsl(0, 76%, 50%);
	--bb_red-dark:        hsl(0, 75%, 40%);
	--bb_red-darkest:     hsl(0, 76%, 20%);
	--bb_white:           hsl(0, 0%, 100%);
	--bb_grey-lightest:   hsl(0, 0%, 93%);
	--bb_grey-light:      hsl(0, 0%, 73%);
	--bb_grey:            hsl(0, 0%, 50%);
	--bb_grey-dark:       hsl(0, 0%, 30%);
	--bb_grey-darkest:    hsl(0, 0%, 20%);
	--bb_black:           hsl(0, 0%, 0%);
}
