/**
 * Styles applied in editor and frontend.
 *
 * Webpack processes CSS, SASS or SCSS files referenced in JavaScript files.
 * All filenames containing `style` keyword are bundled together. The code used
 * gets applied to both the frontend and the editor.
 *
 * @see https://www.npmjs.com/package/@wordpress/scripts#using-css
 */
 
.flippableCards {

	.flippableCards_container {
		gap: 1em;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		perspective: 2000px;
		perspective-origin: center;
		margin: 0 auto;
		width: 100%;
		overflow: visible;

		@media ( min-width: 600px ) {
			padding: 1em;
		}
	}

	.rollByAnimation_container {
		box-sizing: border-box;
		display: flex;
		position: relative;
		align-items: flex-start;
		justify-content: left;
		width: 100%;
		height: fit-content;
		overflow-y: visible;
		
		#svg_tumbleweed {
			position: absolute;
			top: 15%;
			height: clamp( 200px, 40vmin, 80% );
			width: auto;
			right: 100%;
		}
	}
}
